.App {
  display: flex;
  height: 50rem;
  width: 95rem;
}

.App-columns {
  margin-top: 50px;
}

.App-board {
  height: 50rem;
  width: 75rem;
}

.App-column {
  cursor: pointer;
}

.App-display {
  margin-left: 50px;
}

.App-display-winner {
  margin-top: 1rem;
}