.App {
  height: 50rem;
  width: 95rem;
}

.App-columns {
  margin-top: 50px;
}

.App-board {
  margin-left: 50px;
  margin-top: 50px;
  height: 50rem;
  width: 75rem;
}

.App-column {
  cursor: pointer;
}
